USE [master]
GO
/****** Object:  Database [Company2]    Script Date: 20.10.2022 17:55:57 ******/
CREATE DATABASE [Company2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Company2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Company2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Company2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Company2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Company2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Company2]
GO
/****** Object:  Table [dbo].[PreRegistration]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](320) NULL,
	[Ip] [nvarchar](50) NULL,
	[Hash] [nvarchar](max) NULL,
	[EndDate] [smalldatetime] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_PreRegistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DetailId] [int] NULL,
	[CategoryId] [int] NULL,
	[Price] [float] NULL,
	[PaidPrice] [float] NULL,
	[Tax] [float] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductUserPermissions]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserPermissionId] [int] NULL,
	[ProductId] [int] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_ProductUserPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NULL,
	[CreatedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserPermissionId] [int] NULL,
	[Email] [nvarchar](320) NULL,
	[Password] [nvarchar](50) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[FullAddress] [nvarchar](200) NULL,
	[City] [nvarchar](35) NULL,
	[Country] [nvarchar](35) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_UserInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 20.10.2022 17:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[CreatedAt] [smalldatetime] NULL,
	[UpdatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PreRegistration] ON 

INSERT [dbo].[PreRegistration] ([Id], [Email], [Ip], [Hash], [EndDate], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'serkankoc320@gmail.com', N'192.168.1.106', N'7321100260230216652501993210201829025', CAST(N'2022-08-27T12:13:00' AS SmallDateTime), CAST(N'2022-08-20T12:13:00' AS SmallDateTime), NULL, CAST(N'2022-08-21T13:10:00' AS SmallDateTime))
INSERT [dbo].[PreRegistration] ([Id], [Email], [Ip], [Hash], [EndDate], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'serkan.koc@marun.edu.tr', N'192.168.1.106', N'972461776783170180144188151151147517780144', CAST(N'2022-08-20T12:14:00' AS SmallDateTime), CAST(N'2022-08-20T12:14:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[PreRegistration] ([Id], [Email], [Ip], [Hash], [EndDate], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'serkan.koc3453.sk@gmail.com', N'192.168.1.106', N'1661461611602738318010220037623220837227', CAST(N'2022-08-27T12:15:00' AS SmallDateTime), CAST(N'2022-08-20T12:15:00' AS SmallDateTime), NULL, CAST(N'2022-08-24T22:21:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[PreRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, N'Telefon', CAST(N'2022-08-23T18:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[ProductCategories] ([Id], [Name], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, N'Televizyon', CAST(N'2022-08-24T19:23:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Id], [Name], [Description], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, N'iPhone 12', N'çok iyi telefon', CAST(N'2022-08-23T18:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[ProductDetails] ([Id], [Name], [Description], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, N'Curved TV', N'yamuk yumuk tv on numara', CAST(N'2022-08-24T19:23:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[ProductDetails] ([Id], [Name], [Description], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, N'Düz Tv', N'dümdüz', CAST(N'2022-08-24T20:24:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [DetailId], [CategoryId], [Price], [PaidPrice], [Tax], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, 1, 1, 30500, 12000, 50000, CAST(N'2022-08-23T18:48:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[Products] ([Id], [DetailId], [CategoryId], [Price], [PaidPrice], [Tax], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, 2, 2, 28999, 19999, 189237283649, CAST(N'2022-08-24T19:23:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[Products] ([Id], [DetailId], [CategoryId], [Price], [PaidPrice], [Tax], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, 3, 2, 15, 10, 2, CAST(N'2022-08-24T20:24:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductUserPermissions] ON 

INSERT [dbo].[ProductUserPermissions] ([Id], [UserPermissionId], [ProductId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (1, 1, 2, CAST(N'2022-08-24T19:23:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[ProductUserPermissions] ([Id], [UserPermissionId], [ProductId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (2, 1, 3, CAST(N'2022-08-24T20:24:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[ProductUserPermissions] ([Id], [UserPermissionId], [ProductId], [CreatedAt], [DeletedAt], [UpdatedAt]) VALUES (3, 2, 4, CAST(N'2022-08-24T20:42:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductUserPermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [UserId], [ProductId], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, 3, 1, CAST(N'2022-08-24T21:20:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserPermissionId], [Email], [Password], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, 1, N'serkankoc320@gmail.com', N'12345', CAST(N'2022-08-21T13:10:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[User] ([Id], [UserPermissionId], [Email], [Password], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (4, 2, N'serkan.koc3453.sk@gmail.com', N'123456', CAST(N'2022-08-24T22:21:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInformation] ON 

INSERT [dbo].[UserInformation] ([Id], [UserId], [Name], [Surname], [FullAddress], [City], [Country], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, 3, N'Serkan', N'Koç', N'Kadıköy', N'Tekirdağ', N'Amerika', CAST(N'2022-08-21T13:10:00' AS SmallDateTime), CAST(N'2022-08-22T18:43:00' AS SmallDateTime), NULL)
INSERT [dbo].[UserInformation] ([Id], [UserId], [Name], [Surname], [FullAddress], [City], [Country], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (4, 4, N'Serkan', N'Koç', N'İstanbul', N'İstanbul', N'İstanbul', CAST(N'2022-08-24T22:21:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPermissions] ON 

INSERT [dbo].[UserPermissions] ([Id], [Type], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'Gold', CAST(N'2022-08-20T12:39:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[UserPermissions] ([Id], [Type], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'Platin', CAST(N'2022-08-20T12:39:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[UserPermissions] ([Id], [Type], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'Chromium', CAST(N'2022-08-20T12:39:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserPermissions] OFF
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductDetails] FOREIGN KEY([DetailId])
REFERENCES [dbo].[ProductDetails] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductDetails]
GO
ALTER TABLE [dbo].[ProductUserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_ProductUserPermissions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductUserPermissions] CHECK CONSTRAINT [FK_ProductUserPermissions_Products]
GO
ALTER TABLE [dbo].[ProductUserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_ProductUserPermissions_UserPermissions] FOREIGN KEY([UserPermissionId])
REFERENCES [dbo].[UserPermissions] ([Id])
GO
ALTER TABLE [dbo].[ProductUserPermissions] CHECK CONSTRAINT [FK_ProductUserPermissions_UserPermissions]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserPermissions] FOREIGN KEY([UserPermissionId])
REFERENCES [dbo].[UserPermissions] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserPermissions]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_User]
GO
USE [master]
GO
